@import '../../scss/variables/media-queries.scss';

.container {
  margin-top: 6rem;
  @include mq-to($handsWide-max) {
    flex-flow: column;
  }
}

.image {
  @include mq-to($handsWide-max) {
    flex-flow: column;
    margin-bottom: 3.6rem;
    max-width: 40rem;
  }
  @include mq-from($handsWide-min) {
    margin-right: 4rem;
    max-width: 20rem;
  }
}

.title {
  margin-bottom: 2rem;
}

.button {
  width: auto;
  padding: .8rem;
  margin-top: 4rem;
  @include mq-hover() {
    color: var(--primary);
  }
  @include mq-from($handsWide-min) {
    align-self: flex-end;
    margin-left: auto;
  }
}