@import '../../scss/variables/media-queries.scss';

.container {
  @include mq-to($handsWide-max) {
    flex-flow: column;
  }
}

.image {
  margin-right: 8rem;
  @include mq-to($handsWide-max) {
    flex-flow: column;
    margin-bottom: 3.6rem;
    max-width: 40rem;
  }
  @include mq-from($handsWide-min) {
    max-width: 16rem;
  }
}

.title {
  margin-bottom: 2rem;
}