.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1.2rem 0 2.8rem 0;
}

.logo {
  margin-right: 8rem;
}

.link {
  margin-right: 3.2rem;
}

.active {
  color: var(--primary);
  border-bottom: 1px solid var(--primary);
}